<table>
    <tr>
      <th>Stream</th>
      <th>Image</th>
      <th>Stream</th>
      <th>Image</th>
      <th>Stream</th>
      <th>Image</th>
    </tr>
    {{range $i, $a := .Streams}}
            <td><p>Title: {{.Title}}<br>Viewers: {{.ViewerCount}}</p></td>
            <td><a href="https://twitch.tv/{{.UserName}}"><img src="{{ processThumbnailURL .ThumbnailURL}}"/></a></td>
        {{ if mod $i 3 }} 
        </tr>
        <tr> {{ end }}
    {{end}}
    </tr>
</table>   

<br>

<a href="http://localhost:8080/?start={{.Start}}">Next</a>